body{
    background-color: rgb(240, 244, 20);
}
#image{
    height: 850px;
    width: 700px;
}
#poster{
    background-color: rgb(218, 120, 107);
}
#description{
    background-color: rgb(204, 175, 175);
}
#available{
    background-color: rgb(246, 46, 5);
}
#header{

 text-align: center;
}
